<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/public/css/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css">
  <script src="/public/js/main.js" defer></script>
</head>
<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <i class='bx bx-cart'>
        <span class="amountProductos">1</span>
      </i>
    </nav>
  </header>

  <div class="products"></div>

  <div class="cart">
    <div class="cart__products"></div>
    <div class="cart__total">
      <div class="cart__total--info">
        <span class="info__amount">cantidad</span>
        <span class="info__total">total</span>
      </div>
      <button class="btn btn-primary btn__buy">Comprar</button>
    </div>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.min.js"></script>
</body>
</html>
